.details-wrapper {

}

.details-container {
    margin: 0 auto;
    width: 900px;
}

.head-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 20px;
}

.product-img-wrapper img{
    display: flex;
    max-height: 400px;
    margin: 0 auto;
}

.product-img-wrapper{
    width: 100%;
    max-height: 400px;
}

.main-info-container h1 {
    margin-top: 0;
}

.main-info-box {
    background: var(--bg-card);
    border: 1px solid var(--border-subtle);
    border-radius: 12px;
    padding: 10px;
}


.clickable-section {
    background: var(--bg-card);
    cursor: pointer;
    padding: 12px;
    border: 1px solid var(--border-subtle);
    border-radius: 12px;
    margin: 8px 0;
    transition: background-color 0.2s;
    transition: transform 0.2s, border-color 0.2s;
    user-select: none;
}

.clickable-section:hover {
    border-color: var(--accent-hover);
}

.clickable-section h3 {
    margin: 0;
    display: flex;
    align-items: center;
}

.clickable-section h3::before {
    content: '▶ ';
    display: inline-block;
    margin-right: 8px;
    transition: transform 0.2s;
    font-size: 12px;
}

.clickable-section:has(> h3:hover) h3::before {
    color: #e44040;
}

.clickable-section p {
    margin: 12px 0 0 0;
}

.store-prices-box {
    position: relative;
}

.location-btn {
    position: absolute;
    right: 0;
    padding: 10px 16px;
    background: var(--accent-color);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
}

.location-btn:hover {
    background: var(--accent-hover);
}

.add-to-cart-btn {
  padding: 10px 20px;
  background: var(--accent-color);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.add-to-cart-btn:hover {
  /* background: var(--accent-hover); */
  transition: box-shadow 0.2s;
  box-shadow: 0 5px 8px 0 var(--accent-hover);
  transform: translateY(-2px);
}

.add-to-cart-btn:active {
  background: var(--accent-hover);
  box-shadow: none;
  transform: translateY(0);
}